<div class="qbevents-list">
	<f:if condition="{dates}">
		<f:then>
			<span class="results-found">{dates->f:count()} Events</span>
		</f:then>
		<f:else>
			<span class="no-results">No Events found.</span>
		</f:else>
	</f:if>

	<f:if condition="{settings.events_per_page}">
		<f:then>
			<f:widget.paginate objects="{dates}" as="paginatedDates" configuration="{itemsPerPage: settings.events_per_page, insertAbove: 1, insertBelow: 1}">
				<f:render section="list" arguments="{dates: paginatedDates}"/>
			</f:widget.paginate>
		</f:then>
		<f:else>
			<f:render section="list" arguments="{dates: dates}"/>
		</f:else>
	</f:if>
</div>

<f:section name="list">
<f:for each="{dates}" as="date">
	<div itemscope itemtype="http://schema.org/Event" class="event">
		<h2>
			<f:link.action action="show" arguments="{date: date}" additionalAttributes="{itemProp: 'url'}">
				<span itemprop="name">{date.event.title}</span>
			</f:link.action>
		</h2>

		<f:if condition="{date.event.image}">
			<f:image image="{date.event.image}" class="img-responsive" width="150" />
		</f:if>

		<i class="fa fa-calendar"></i> <time datetime="{date.start->f:format.date(format: 'Y-m-d H:i')}" itemProp="startDate" class="start-date">{date.start->f:format.date(format: 'Y-m-d H:i')}</time>
		<f:if condition="{date.end}">
			– <time datetime="{date.end->f:format.date(format: 'Y-m-d H:i')}" itemProp="endDate" class="end-date">{date.end->f:format.date(format: 'Y-m-d H:i')}</time>
		</f:if>

		<f:if condition="{date.event.location}">
			<span class="location" itemProp="location">{date.event.location}</span>
		</f:if>

		<f:render section="categories" arguments="{_all}" />

		<f:if condition="{date.event.teaser}">
			<div class="description" itemProp="description">
				<f:format.html>{date.event.teaser}</f:format.html>
			</div>
		</f:if>
	</div>
</f:for>
</f:section>

<f:section name="categories">
	<f:for each="{date.event.categories}" as="category">
		<span class="label label-info">{category.title}</span>
	</f:for>
</f:section>
